.title{
    display: flex;
    justify-content: center;
    font-size: 60px;
    padding: 12px;
    font-weight: bolder;
    font-family: cursive;
}

.grid{
    display: grid;
    width: 560px;
    height: 560px;
    padding-left: 200px;
    padding-top: 20px;
}

.container{
    display: flex;
    padding-left: 100px;


}

.menu{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 20px;
    margin-left: 200px;
}


.colorpicker{
    margin-top: 8px;
}

.rainbow,
.eraser,

.clear,
.size {
    font-size: 30px;
    font-weight: bolder;
    font-family: cursive;
    border: 3px solid black;  
    padding: 10px; 
    border-radius: 10px;
    color: black;
    background-color: white;
}


.rainbow:hover,
.eraser:hover,
.clear:hover {
    transform: scale(1.05);
    background-color: rgb(229, 226, 222);
}


.eraser.active,
.rainbow.active {
    background-color: rgb(229, 226, 222);
}

.grid-element{
    border: 1px black solid; 
}

.footer {
    padding: 10px;
   
    font-family: cursive;
    font-weight: bolder;
    
    display: flex;
    justify-content: center;
}

.logo {
    width: 25px;
    height: 25px;
}

.logo:hover{
    transform: scale(1.1);
}

.slidercontainer{
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.slider{
    -webkit-appearance: none;
    width: 97%;
    height: 10px;
    background: rgb(229, 226, 222);


}

.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    height: 20px;
    width: 10px;
    cursor: pointer;
    background: black;
    border-radius: 2px;
}


.colorpicker:hover{
    transform: scale(1.1);
}


.colorcontainer{
    padding-left: 50px;
    
}
.colorpicker {
    -webkit-appearance: none;
    width: 85px;
    height: 85px;
    border: none;
    padding: 0;
}

.colorpicker::-webkit-color-swatch-wrapper {
    padding: 0;
    background-color: white;

}

.colorpicker::-webkit-color-swatch {
    border: none;
    border-radius: 50px;
    background-color: white;
}

