
.title{
    display: flex;
    justify-content: center;
    font-size: 60px;
    padding: 14px;
    font-weight: bolder;
    font-family: cursive;
}

.grid{
    display: grid;
    width: 560px;
    height: 560px;

    padding-left: 200px;
    padding-top: 20px;
}

.container{
    display: flex;

}

.menu{
    display: flex;
    flex-direction: column;
    gap: 54px;
    padding-top: 20px;
    margin-left: 200px;


}

.color,
.rainbow,
.eraser,
.clear,
.size {
    font-size: 30px;
    font-weight: bolder;
    font-family: cursive;
    border: 3px solid black;  
    padding: 10px; 
    border-radius: 10px;
    color: black;
    background-color: white;
    
}

.color:hover,
.rainbow:hover,
.eraser:hover,
.clear:hover,
.size:hover {
    transform: scale(1.05);
    background-color: rgb(229, 226, 222);
}


.eraser.active,
.rainbow.active,
.color.active{
    background-color: rgb(229, 226, 222);
}




.grid-element{
    border: 1px black solid; 
}

.footer {
    padding: 10px;
   
    font-family: cursive;
    font-weight: bolder;
    
    display: flex;
    justify-content: center;
}

.logo {
    width: 25px;
    height: 25px;
}

.logo:hover{
    transform: scale(1.1);
}

